@model SpellingPracticeVer2.Models.DataViewModel

@{
  ViewBag.Title = "Index";
}

<p>
  Press "Start" when you're ready. Or go back and enter the spelling words.
</p>
<div>
  <p>Spelling Words</p>
  @{var index = 1;}
  @foreach (var item in Model.words)
  {
    <p>@index. @item</p>
    index++;
  }
</div>
<br />
<a class="btn btn-primary" href="/Practice">Start</a>
<a class="btn btn-primary" href="/Home">Back to Home</a>
