@model SpellingPracticeVer2.Models.SpellingSet

@{
  ViewBag.Title = "Index";
}

<p>
  Open the online reader in this
  <a href="https://www.text2speech.org/">link</a>
  in a new tab.
</p>
<p>
  When you're ready to start, copy the contents of the field below. Paste it
  on the website that will open. Select "slower" setting. Press start and play.
  Come back to this site without closing the online reader tab, press start and
  input your anwers while the online reader reads each word back to you.
</p>
<div class="bordered">
  <p>Spelling Words<br />Are you ready?</p>
  @{var index = 1;}
  @foreach (var item in Model.words)
  {
    <p>Number @index. @item. @item.</p>
    index++;
  }
</div>
<br />
<a class="btn btn-primary" href="/Practice">Start</a>
