@model SpellingPracticeVer2.Models.DataViewModel
@{
  ViewBag.Title = "Index";
}

<h2>Results:</h2>

<table class="table">
  @for (int i = 1; i <= 10; i++)
  {
    <tr>
      <td>@i.</td>
      <td>@Model.answers[i-1]</td>
      @if (Model.answers[i-1] == Model.words[i-1])
      {
        <td><strong>Correct.</strong></td>
      }
      else
      {
        <td><strong>Incorrect.</strong></td>
        <td>The correct answer is "@Model.words[i - 1]".</td>
      }
    </tr>
  }
</table>
<a class="btn btn-primary" href="/Home">Back to Home</a>
